x64/Debug/Parser.exe
.vs/Parser/FileContentIndex/62b3e9f3-88c1-4f97-afc3-2247cc06d990.vsidx
.vs/Parser/FileContentIndex/106e4a08-33c4-484d-8a9b-e3bbad42c516.vsidx
.vs/Parser/FileContentIndex/d5fd4ec6-f65d-4963-be3a-1c6acc92a1f5.vsidx
.vs/Parser/FileContentIndex/e6867974-fea1-4deb-bf14-57eac4145b91.vsidx
.vs/Parser/FileContentIndex/read.lock
.vs/Parser/v17/Browse.VC.db
.vs/Parser/v17/Browse.VC.db-shm
.vs/Parser/v17/Browse.VC.db-wal
.vs/Parser/v17/Browse.VC.opendb
.vs/Parser/v17/ipch/AutoPCH/9aba1790ad160066/SEMANTIC.ipch
x64/Debug/Parser.exe
x64/Debug/Parser.exe
x64/Debug/Parser.exe
