x64/Debug/Parser.exe
.vs/Parser/FileContentIndex/62b3e9f3-88c1-4f97-afc3-2247cc06d990.vsidx
.vs/Parser/FileContentIndex/106e4a08-33c4-484d-8a9b-e3bbad42c516.vsidx
.vs/Parser/FileContentIndex/d5fd4ec6-f65d-4963-be3a-1c6acc92a1f5.vsidx
.vs/Parser/FileContentIndex/e6867974-fea1-4deb-bf14-57eac4145b91.vsidx
.vs/Parser/FileContentIndex/read.lock
.vs/Parser/v17/Browse.VC.db
.vs/Parser/v17/Browse.VC.db-shm
.vs/Parser/v17/Browse.VC.db-wal
.vs/Parser/v17/Browse.VC.opendb
.vs/Parser/v17/ipch/AutoPCH/9aba1790ad160066/SEMANTIC.ipch
x64/Debug/Parser.exe
x64/Debug/Parser.exe
x64/Debug/Parser.exe
.vscode/settings.json
.gitignore
.gitignore
x64/Debug/Parser.exe
x64/Debug/Parser.ilk
x64/Debug/Parser.pdb
x64/Debug/Parser.exe
x64/Debug/Parser.ilk
.vs/Parser/FileContentIndex/a186a454-e704-448f-8200-dddeec336a48.vsidx
.vs/Parser/FileContentIndex/b49d1025-fe9f-48de-a167-ca143263b871.vsidx
.vs/Parser/v17/.suo
.vs/Parser/v17/ipch/AutoPCH/990dcb270d9b8d9d/LR1.ipch
x64/Debug/Parser.exe
x64/Debug/Parser.ilk
x64/Debug/Parser.pdb
.vs/Parser/FileContentIndex/302173b7-68a4-48ea-82db-19ac52061ae1.vsidx
.vs/Parser/FileContentIndex/b0451895-0174-4c3f-b4c0-c464b13e9a53.vsidx
.vs/Parser/v17/ipch/AutoPCH/a25078e2fd7f4656/LEXER.ipch
.vs/Parser/v17/ipch/AutoPCH/a29194b1338f2159/PARSER.ipch
x64/Debug/Parser.exe
Parser/x64/Debug/grammar.obj
Parser/x64/Debug/Lexer.obj
Parser/x64/Debug/LR1.obj
Parser/x64/Debug/main.obj
Parser/x64/Debug/moc_myQGraphicsView.obj
Parser/x64/Debug/moc_Parser.obj
Parser/x64/Debug/moc_Show.obj
Parser/x64/Debug/myQGraphicsView.obj
Parser/x64/Debug/Parser.Build.CppClean.log
Parser/x64/Debug/Parser.log
Parser/x64/Debug/Parser.obj
Parser/x64/Debug/qrc_Parser.obj
Parser/x64/Debug/Semantic.obj
Parser/x64/Debug/Show.obj
Parser/x64/Debug/token.obj
Parser/x64/Debug/vc143.pdb
Parser/x64/Debug/Parser.tlog/CL.command.1.tlog
Parser/x64/Debug/Parser.tlog/CL.read.1.tlog
Parser/x64/Debug/Parser.tlog/CL.write.1.tlog
Parser/x64/Debug/Parser.tlog/Parser.write.1u.tlog
Parser/results/Parse_Tree.dot
Parser/results/Quaternion_List.txt
Parser/results/Reduction_Process.txt
Parser/results/Token_List.txt
Parser/error_log/Semantic_Error_List.txt
Parser/results/Parse_Tree.dot
Parser/results/Quaternion_List.txt
Parser/results/Reduction_Process.txt
Parser/results/Token_List.txt
Parser/x64/Debug/Parser.tlog/CL.command.1.tlog
Parser/x64/Debug/Parser.tlog/CL.read.1.tlog
Parser/x64/Debug/Parser.tlog/CL.write.1.tlog
Parser/x64/Debug/Parser.tlog/Parser.write.1u.tlog
Parser/x64/Debug/grammar.obj
Parser/x64/Debug/Lexer.obj
Parser/x64/Debug/LR1.obj
Parser/x64/Debug/main.obj
Parser/x64/Debug/moc_myQGraphicsView.obj
Parser/x64/Debug/moc_Parser.obj
Parser/x64/Debug/moc_Show.obj
Parser/x64/Debug/myQGraphicsView.obj
Parser/x64/Debug/Parser.Build.CppClean.log
Parser/x64/Debug/Parser.log
Parser/x64/Debug/Parser.obj
Parser/x64/Debug/qrc_Parser.obj
Parser/x64/Debug/Semantic.obj
Parser/x64/Debug/Show.obj
Parser/x64/Debug/token.obj
Parser/x64/Debug/vc143.pdb
Parser/x64/Debug/Parser.tlog/CL.command.1.tlog
Parser/x64/Debug/Parser.tlog/CL.read.1.tlog
Parser/x64/Debug/Parser.tlog/CL.write.1.tlog
Parser/x64/Debug/Parser.tlog/Parser.write.1u.tlog
.vs/Parser/FileContentIndex/89b236e7-79d2-40fc-9582-1428a2df3ce5.vsidx
.vs/Parser/FileContentIndex/bbf63586-1fdb-43ba-8c72-e80f877722bd.vsidx
.vs/Parser/v17/ipch/AutoPCH/a5b22608f27168ad/GRAMMAR.ipch
x64/Debug/Parser.exe
x64/Debug/Parser.ilk
x64/Debug/Parser.pdb
x64/Debug/Parser.exe
x64/Debug/Parser.ilk
x64/Debug/Parser.pdb
.vs/Parser/FileContentIndex/41c39dd5-b211-4356-a2d2-ad07d9625a92.vsidx
.vs/Parser/FileContentIndex/13898581-9552-4c60-af66-11b43e5e51a0.vsidx
.vs/Parser/FileContentIndex/c2e284e8-3e78-46f3-8a89-fb26f93b5b09.vsidx
